.card {
  width: 100%;
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name.low {
      // background-color: #ff484257;
    }

    .name.low,
    .diff.low {
      color: #ff4842;
    }

    .name {
      font-size: 30px;
      color: #01a37c;
      // background-color: #01a37d58;
      // padding: 5px 10px;
      // border-radius: 5px;
      font-weight: 700;
      font-family: "Arial";
    }

    .diff {
      font-size: 20px;
      color: #01a37c;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-family: "Arial";
  }
}
